body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ol, ul {
  padding-left: 30px;
}
.game-board{
  border: 1px solid black;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 0px solid #999;
  float: left;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-info {
  text-align: center;
}

.color{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-top: 5px;
}
